.navbar {
  padding: 15px 25px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.nav-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #fff;
  color: #000;
}

.nav-buttons input {
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 5px;
}
