.upcoming-container {
  padding: 20px;
  background-color: #111;
  min-height: 100vh;
  color: white;
}

.upcoming-heading {
  text-align: center;
  margin-bottom: 20px;
}

.upcoming-movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.loading-text {
  text-align: center;
  color: white;
  margin-top: 40px;
}
