.popular-container {
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
  color: white;
}

.popular-heading {
  text-align: center;
  margin-bottom: 20px;
}

.popular-movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
